* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url('/assets/footer_lodyas.png') repeat;
}

#video, .help {
  text-align: center;
  background: #000;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

#playerContainer {
  display: none;
  height: 480px;
  max-width: 854px;
  margin: 0 auto;
}

.videoPlaying #playerContainer {
  display: block;
}

.help {
  padding: 20px 0;
}

h3, p {
  margin: 10px 0;
}

.videoPlaying .help {
  display: none;
}

input, button {
  border: 1px solid #ccc;
  line-height: 30px;
  height: 34px;
  padding: 0 2%;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.container {
  max-width: 90%;
  width: 600px;
  margin: 0 auto;
  background: #111;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.search {
  padding: 15px 0 5px;
}

.search form {
  margin: 0px auto;
  width: 400px;
  max-width: 90%;
}

.search input[type="text"] {
  background: rgba(255, 255, 255, .05);
  width: 75%;
  border-right: 0;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.search input[type="submit"] {
  background: #333;
  width: 25%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  cursor: pointer;
}

.videoList li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.videoList li:nth-of-type(2n+1) {
  background: rgba(255, 255, 255, .05);
}

.videoList li img {
  max-width: 100%;
  height: 90px;
  width: 160px;
}

.videoList li .info {
  padding: 20px 2%;
}

.videoList .title {
  line-height: 30px;
}

.videoList .date {
  display: block;
  font-size: 80%;
  color: #eee;
  line-height: 20px;
}

.videoList .watched, .videoList .watched .date {
  color: #aaa;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.videoList .loadMoreContainer {
  display: block;
  padding: 20px 0;
}

.videoList .loadMoreContainer button {
  background: #333;
  border-radius: 2px;
}
